[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CropWaterBalance"]
	path = CropWaterBalance
	url = https://github.com/gabrielblain/cropwaterbalance
[submodule "PowerSDI"]
	path = PowerSDI
	url = https://github.com/gabrielblain/powersdi
[submodule "SPIChanges"]
	path = SPIChanges
	url = https://github.com/gabrielblain/spichanges
